 body
 {
    background-color: #1b1a1a;
    margin: 16px;
    display: flex;
    justify-content: center; /* Centrerar container på skärmen */

}

.app-container {
  width: 440px;          /* Fast bredd för iPhone 16 Pro Max viewport */
  height:fit-content;
  display: flex;         /* Aktiverar flexbox */
  flex-direction: column;
  min-height: 100vh;
  background-color: #F2F0F1; /* valfritt */
 
  border-radius: 16px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* valfritt */
}

body.has-bg .app-container {
    background-image: url('Bilder/monstera_leaves_bg.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #F2F0F1;
}

h1
{
    font-family: "Italiana", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 64px;
    padding-left: 40px;
    padding-top: 32px;
}

h2
{
     font-family: "Italiana", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 40px;
    padding-left: 40px;
}

h3
{
     font-family: "Italiana", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 24px;
    padding-left: 40px;
}

p   
{  
    font-family: "Dosis", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
    font-size: 16px;
    padding-left: 40px;
    padding-right: 40px;
}

#humidity
{
    font-family: "Dosis", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
    font-size: 24px;
    padding-left: 8px;
    padding-bottom: 8px;
    padding-top: 8px;
    background-color: #d5e6e7;
    border-radius: 100px;
    width: 100px;
    text-align: center;
    margin-left: 40px;
    margin-bottom: 24px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
/* Optimalt intervall 50–65 % */
.humidity-optimal {
    background-color: #6fcf97;
    color: #00fe7b;
}
/* Utanför optimalt intervall (valfritt) */
.humidity-warning {
    background-color: #ff1616;
}

.btn {
    display: inline-block;
    width: 240px;
    padding: 10px 64px;
    background-color: #d5e6e7;   /* bakgrundsfärg */
    color: rgb(0, 0, 0);                /* textfärg */
    font-family: "Dosis", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 16px;
    text-align: center;
    text-decoration: none;       /* ta bort understrykning */
    border-radius: 6px;          /* rundade hörn */
    border: none;
    margin-top: auto;
    align-self: center; /* eller flex-start / flex-end */
    margin-bottom: 40px;
    
}

.card-group {
    display: flex;
    flex-direction: row; /* ← lägger korten bredvid varandra */
    gap: 8px;
    padding-left: 24px;
    padding-right: 24px;
    background-color: #F2F0F1;
    border: none !important;
    box-shadow: none !important;
}

.card.card {
  background-color: transparent !important;
  border: none !important;
  box-shadow: none !important; 
  
}

.card-body {
    background-color: #ffffff00;
    border-radius: 8px;
    padding: 16px;
    box-shadow: none !important;
}

.card-title {
    font-family: "Italiana", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 20px;
    margin-bottom: 8px;
    color: #000000;
    background-color: #ffffff00;
}

a .card-title {
  color: inherit;
  text-decoration: none;
}

a {
  color: inherit;
    text-decoration: none;
}

.list {
    font-family: "Dosis", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
    font-size: 16px;
   padding-left: 16px;
    padding-bottom: 16px;
    padding-top: 16px;
    background-color: #d5e6e700;
    border-style: solid;
    border-width: 0.1px;
    border-radius: 16px;
    width: fit-content;
    margin-left: 40px;
    margin-right: 40px;
    box-shadow: none;
    list-style-type: " ";
    display: flex;
  flex-direction: column;
  gap: 0.75rem;
    
}

#myChart {
   margin-left: 32px;
   margin-right: 8px;
    margin-bottom: 0px;
    height: 8px;
}

.navbar {
  box-shadow: #0000000f 0px -2px 10px;
}

.header {
    margin-left: 20px;
}