 body
 {
    background-color: #1b1a1a;
    margin: 16px;
    display: flex;
    justify-content: center; /* Centrerar container på skärmen */

}

.app-container {
  width: 440px;          /* Fast bredd för iPhone 16 Pro Max viewport */
  display: flex;         /* Aktiverar flexbox */
  flex-direction: column;
  min-height: 100vh;
  background-color: #F2F0F1; /* valfritt */
 
  border-radius: 16px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* valfritt */
}

body.has-bg .app-container {
    background-image: url('Bilder/monstera_leaves_bg.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #F2F0F1;
}

h1
{
    font-family: "Italiana", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 64px;
    padding-left: 40px;
}

h2
{
     font-family: "Italiana", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 40px;
    padding-left: 40px;
}

p   
{  
    font-family: "Dosis", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
    font-size: 16px;
    padding-left: 40px;
}

#humidity
{
    font-family: "Dosis", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
    font-size: 24px;
}

.btn {
    display: inline-block;
    width: 240px;
    padding: 10px 64px;
    background-color: #000000;   /* bakgrundsfärg */
    color: white;                /* textfärg */
    font-family: "Italiana", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 16px;
    text-align: center;
    text-decoration: none;       /* ta bort understrykning */
    border-radius: 6px;          /* rundade hörn */
    border: none;
    margin-top: auto;
    align-self: center; /* eller flex-start / flex-end */
    margin-bottom: 40px;
    
}